#this indicated if the initilization process has been completed. if set to false it will run through it on the next startup or bot trigger
INITILIZED: false

#list of parameters for the self help initilization process. a description of each parameter is listed below that will be displayed to the user in sequence
HELP_URL: 'enter url here'
INITILIZATION_PARAMETERS:
  API_TOKEN: 'Enter api token for SimplyPlural:'
  OPENAI_API_KEY: 'Enter openai api key (optional - press enter to skip):'
  STATUS_CHANNEL_ID: 'Enter the channel id for the bot to post status updates to:'
  SYSTEM_ID: 'Enter the system id for SimplyPlural:'

### DISCORD ###
#discord token for the bot
DISCORD_TOKEN: 

#channel id for the bot to post status update messages to
STATUS_CHANNEL_ID: ''

#message id for the bot to edit with status updates. This is created automatically by the bot if it does not exist in the status channel
STATUS_MESSAGE_ID: ''

### OPENAI ###
#optional key to use the openai api
OPENAI_API_KEY: 

### SIMPLYPLURAL ###
#api token for SimplyPlural
API_TOKEN: 

#id of the system in SimplyPlural
SYSTEM_ID: 

#list of member ids that are blacklisted from being displayed in the system (for privacy reasons)
BLACKLISTED_MEMBER_IDS:
- example_member_id